<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET"/>
 <application android:allowBackup="false" android:label="Cyclothone" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
   <intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="cyclothone" android:host="auth" android:path="/callback"/></intent-filter>
  </activity>
  <activity android:name=".DeveloperActivity" android:exported="true" android:label="Cyclothone Developer">
   <intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="cyclothone" android:host="developer" android:path="/callback"/></intent-filter>
  </activity>
 </application>
</manifest>